@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
    border: none;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0A3871;
    padding: 20px;
}

.container{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.encryptor_cont{
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.text_cont{
    width: 90%;
    height: 60%;
    box-sizing: border-box;
    overflow: hidden;
}
.text_area{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
    color: #0A3871;
    font-size: 1.2rem;
    resize: none;
    outline: none;
}
.text_area::placeholder{
    font-size: 1.2rem;
}
.message_cont{
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.message_result {
    max-width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    box-sizing: border-box;
    overflow: auto;
}

p {
    overflow-wrap: break-word; 
    white-space: normal; 
}

.img_empty{
    width: 200px;
    height: 250px;
}


.button{
    width: 200px;
    border: 1px solid #0A3871;
    border-radius: 15px;
    color: #0A3871;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}
.button:disabled{
    background: grey;
    border: none;
    color: white;
}
.button:disabled:hover{
    background: grey;
    border: none;
    color: white;
}
.button:hover{
    background-color: #0A3871;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .container{
        flex-direction: column;
    }
    .encryptor_cont{
        width: 100vw;
        height: 60vh;
    }
    .text_cont{
        width: 90%;
        height: 60%;
    }

    .message_cont{
        width: 100vw;
        height: 60vh;
    }

}